permalink: /windows/_posts/:year-:month-:day-:title
url: https://mwmxyz.github.io/windows/
baseurl: /windows

# variables
name: MWMemories Cyan Zone
description: Not buried but seldom really conscious
google_verification: null


# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]

# Sass
sass:
  style: :compressed
  sass_dir: _sass

# Markdown
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable : true
